# Cleaning an .ods file in pandas

We are going to import some data from [Criminal Justice System statistics quarterly: March 2021](https://www.gov.uk/government/statistics/criminal-justice-system-statistics-quarterly-march-2021).

In [ ]:
import pandas as pd

In [ ]:
overview21mar = "https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1011767/overview-tables-march-2021.ods"

## Dealing with the ods spreadsheet format

The first problem we have is that this isn't a CSV or XLS file.

How do we import an .ods file? [Off to Google](https://stackoverflow.com/questions/17834995/how-to-convert-opendocument-spreadsheets-to-a-pandas-dataframe):

> "This is available natively in pandas 0.25. So long as you have odfpy installed (conda install odfpy OR pip install odfpy) you can do
>
> `pd.read_excel("the_document.ods", engine="odf")`

First, then we need to install `odfpy`.

In [ ]:
!pip install odfpy

Collecting odfpy
  Downloading odfpy-1.4.1.tar.gz (717 kB)
     |████████████████████████████████| 717 kB 40.4 MB/s
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from odfpy) (0.7.1)
Building wheels for collected packages: odfpy
  Building wheel for odfpy (setup.py) ... done
  Created wheel for odfpy: filename=odfpy-1.4.1-py2.py3-none-any.whl size=160693 sha256=05068b1942b204368bb952a22a5fe63aefec65d5a6a914ee0461b44f22b47838
  Stored in directory: /root/.cache/pip/wheels/e2/f4/5d/a68c656235d33455a1d0f78e877acddfa006907a6d52d7e6ee
Successfully built odfpy
Installing collected packages: odfpy
Successfully installed odfpy-1.4.1

Once installed, we can use the `read_excel` function from `pandas`, but specify `engine="odf"`.

We can also specify which sheet we want, and get it to skip the first 4 rows before the heading row.

In [ ]:
overview21mardf = pd.read_excel(overview21mar, 
                                engine="odf", 
                                sheet_name="Q5_1", 
                                skiprows=4)

In [ ]:
overview21mardf.head()

               Offence type   Type of sentence    2011  ...     2019     2020   2021
0  Indictable only offences     Total sentenced  19976  ...  12006.0  12718.0  10573
1                       NaN                 NaN    NaN  ...      NaN      NaN    NaN
2                       NaN   Immediate custody  13868  ...   8796.0   9023.0   6945
3                       NaN  Suspended sentence   1699  ...   1155.0   1276.0   1414
4                       NaN  Community sentence   3724  ...   1402.0   1804.0   1770

[5 rows x 13 columns]

## Get rid of empty rows using `dropna`

Some rows are entirely empty. How can we get rid of those? Handily, `pandas` has a function that does that: `.dropna()`

However, if used without any arguments, this drops all rows with an `NaN` value or empty cell *anywhere* (note the index column loses all rows from 1-12):

In [ ]:
overview21mardf.dropna()

                    Offence type  Type of sentence   ...       2020    2021
0       Indictable only offences    Total sentenced  ...    12718.0   10573
13   Triable either way offences    Total sentenced  ...   184452.0  144916
26          Summary non-motoring    Total sentenced  ...   429662.0  188861
39              Summary motoring    Total sentenced  ...   531365.0  421399
52          Offence not known(7)    Total sentenced  ...      741.0     499
65                  All offences    Total sentenced  ...  1158938.0  766248
84                  Offence type  Type of sentence   ...     2020.0    2021
85      Indictable only offences    Total sentenced  ...    12717.0   10571
98   Triable either way offences    Total sentenced  ...   183651.0  144565
111         Summary non-motoring    Total sentenced  ...   427706.0  188496
124             Summary motoring    Total sentenced  ...   525416.0  417926
137         Offence not known(7)    Total sentenced  ...      726.0     491
150                 All offences    Total sentenced  ...  1150216.0  762049

[13 rows x 13 columns]

If we don't want that to happen we have to include an argument which specifies *which* columns we want to filter on.

In [ ]:
overview21mardf.dropna(subset=["2011"], inplace=True)

KeyError: ignored

## Dealing with `KeyError` due to numeric column headers

We hit an error here because the column has a numeric heading: `2011`. Really we shouldn't have numbers (integers) as column headings because that confuses pandas (which also uses integers as indices for columns).

So before we go any further we should fix that. First, here's the `columns` method which shows us the columns in a dataframe:

In [ ]:
overview21mardf.columns

Index([     'Offence type', 'Type of sentence ',                2011,
                      2012,                2013,                2014,
                      2015,                2016,                2017,
                      2018,                2019,                2020,
                      2021],
      dtype='object')

Note that the years don't have inverted commas around them: they aren't being treated as a string so couldn't be accessed that way.

There are a couple of ways to convert those to strings. The simplest is to create a list of the new column headings and assign them like so:

In [ ]:
newcolnames = ['Offence type', 'Type of sentence ', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
overview21mardf.columns = newcolnames

But that's quite laborious. Another way is to loop through the existing column names and convert them to strings like so:

In [ ]:
#create an empty list
newcolnames = []
#loop through the columns
for i in overview21mardf.columns:
  #convert to string
  strversion = str(i)
  #add to previously empty list
  newcolnames.append(strversion)
print(newcolnames)
#replace the old column names with the new ones
overview21mardf.columns = newcolnames

['Offence type', 'Type of sentence ', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']

Another approach is to use [the `.map()` function](https://realpython.com/python-map-function/), which basically saves us having to loop.

This applies the specified function (`str` in this case) to each item in the list, in order to create a new one:

In [ ]:
overview21mardf.columns = overview21mardf.columns.map(str)
overview21mardf.columns

Index(['Offence type', 'Type of sentence ', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020', '2021'],
      dtype='object')

Now the `dropna` function should work with that column name `'2011'` as a string:

In [ ]:
#try dropna again
overview21mardf.dropna(subset=['2011'], inplace=True)
#show results
overview21mardf

                 Offence type  ...     2021
0    Indictable only offences  ...    10573
2                         NaN  ...     6945
3                         NaN  ...     1414
4                         NaN  ...     1770
5                         NaN  ...       84
..                        ...  ...      ...
156                       NaN  ...     1749
157                       NaN  ...    24198
158                       NaN  ...     3539
159                       NaN  ...     8507
161                       NaN  ...  18.5872

[122 rows x 13 columns]

## Fill down using `ffill`

The `ffill` function will fill down when given `axis=0` (to fill across use `axis=1`).

Note that this fills row index 1 with the values from row 0, too. So it's a good thing we removed that row first.

In [ ]:
#fill down into empty cells (axis 0 means columns)
overview21mardf = overview21mardf.ffill(axis=0)
#show the results
overview21mardf

                 Offence type  ...        2021
0    Indictable only offences  ...  10573.0000
2    Indictable only offences  ...   6945.0000
3    Indictable only offences  ...   1414.0000
4    Indictable only offences  ...   1770.0000
5    Indictable only offences  ...     84.0000
..                        ...  ...         ...
156              All offences  ...   1749.0000
157              All offences  ...  24198.0000
158              All offences  ...   3539.0000
159              All offences  ...   8507.0000
161              All offences  ...     18.5872

[122 rows x 13 columns]

## Reshape wide to long

We have a column for each year but that's not ideal for data analysis. What we really want is a 'year' column.

To do this we need to [reshape the data from 'wide to long'](https://towardsdatascience.com/wide-to-long-data-how-and-when-to-use-pandas-melt-stack-and-wide-to-long-7c1e0f462a98). 

The `melt()` function is great for this. First, we need to know what the columns are called...

In [ ]:
#remind ourselves what the columns are
#we can also copy directly from this
overview21mardf.columns

Index(['Offence type', 'Type of sentence ', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020', '2021'],
      dtype='object')

We use those in the ingredients of the `melt()` function: 

* `id_vars=` specifies which columns we want to keep as they were. This needs to be a list
* `value_vars` specifies which ones we want to reshape, using them as values instead of labels ('2011' is the value that will fill in a new column for the 'year')
* `var_name` specifies what we want to call this new column ('year')
* `value_name` specifies what we want to call the column which is going to contain all the values which were associated with the columns we're getting rid of. In this case it's 'total', indicating the total cases in each year and category.

In [ ]:
#use melt to convert the year column headings into a single column
overview21mardf.melt(id_vars=['Offence type', 'Type of sentence '], value_vars=['2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020', '2021'], var_name='year', value_name='total')

                  Offence type  ...    total
0     Indictable only offences  ...    19976
1     Indictable only offences  ...    13868
2     Indictable only offences  ...     1699
3     Indictable only offences  ...     3724
4     Indictable only offences  ...       45
...                        ...  ...      ...
1337              All offences  ...     1749
1338              All offences  ...    24198
1339              All offences  ...     3539
1340              All offences  ...     8507
1341              All offences  ...  18.5872

[1342 rows x 4 columns]

In [ ]:
#store those results permanently
overview21mardf = overview21mardf.melt(id_vars=['Offence type', 'Type of sentence '], value_vars=['2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020', '2021'], var_name='year', value_name='total')

In [ ]:
overview21mardf.to_csv("cleaneddata.csv")

## Creating a pivot table

We can use that data to create a pivot table. Note that the results are presented in scientific notation.

In [ ]:
pivot12 = overview21mardf.pivot_table(index="Type of sentence ", 
                        values="total",
                        columns="year", 
                        aggfunc="sum")
pivot12

year                                                2011  ...          2021
Type of sentence                                          ...
Absolute discharge                      total    34374.0  ...  7.012000e+03
Average custodial sentence (months)(6)  total        NaN  ...  2.961874e+02
Community sentence                      total   755320.0  ...  2.378520e+05
Compensation                            total    31170.0  ...  1.416000e+04
Conditional discharge                   total   361958.0  ...  9.680800e+04
Fine                                    total  3538968.0  ...  2.280840e+06
Immediate custody                       total   411348.0  ...  2.377440e+05
Otherwise dealt with(5)                 total    98650.0  ...  3.407600e+04
Suspended sentence                      total   195272.0  ...  1.481020e+05
Total sentenced                         total  5427060.0  ...  3.056594e+06
Type of sentence                        total     2011.0  ...  2.021000e+03

[11 rows x 11 columns]

To fix that we just need to add `.astype()` to the end of the `pivot_table()` function to format any numbers in the results as integers - the text is ignored.

In [ ]:
pivot12 = overview21mardf[overview21mardf.year == '2012'].pivot_table(index="Type of sentence ", 
                        values="total",
                        columns="year", 
                        aggfunc="sum").astype(int)
pivot12

year                                        2012
Type of sentence
Absolute discharge                         32108
Average custodial sentence (months)(6)       164
Community sentence                        696540
Compensation                               26202
Conditional discharge                     340668
Fine                                     3369884
Immediate custody                         421808
Otherwise dealt with(5)                    88034
Suspended sentence                        190572
Total sentenced                          5165816
Type of sentence                            2012

In [ ]:
pivot12 = overview21mardf[overview21mardf.year == '2011'].pivot_table(index="Type of sentence ", 
                        values="total",
                        columns="year", 
                        aggfunc="sum").astype(int)
pivot12

year                              2011
Type of sentence
Absolute discharge      total    34374
Community sentence      total   755320
Compensation            total    31170
Conditional discharge   total   361958
Fine                    total  3538968
Immediate custody       total   411348
Otherwise dealt with(5) total    98650
Suspended sentence      total   195272
Total sentenced         total  5427060
Type of sentence        total     2011

## Using SQL-style functions `where`, `isin` etc.

We can also use SQL-style functions to filter a dataframe [such as `isin`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isin.html).