# Using the `os` library to navigate files

The `os` library is useful for identifying what files you have in order to then do things with them (e.g. import, combine etc)

In [ ]:
#import the library - plus pandas
import os
import pandas as pd

## Finding what directory you're in

You can use the `getcwd()` function to tell you the folder you're in.

In [ ]:
#show the current working directory
os.getcwd()

'/content'

## Changing directory

And if you specify what folder you want to move into with `chdir()` it will move you there.

In [ ]:
#change directory
os.chdir('sample_data')

In [ ]:
#show the current working directory
os.getcwd()

'/content/sample_data'

## Listing files

The `listdir()` function will list all the files in the current directory - which is especially useful if you want to import data from some of those files.

In [ ]:
#list files
os.listdir()

['anscombe.json',
 'README.md',
 'california_housing_test.csv',
 'mnist_train_small.csv',
 'california_housing_train.csv',
 'mnist_test.csv']

## Making a list of CSV files only

This can be used to create a list to iterate through - and check.

In [ ]:
#create an empty list for CSV filenames
csvsonly = []

#loop through the files
for i in os.listdir():
  print(i)
  #add to that list if filename contains '.csv'
  if '.csv' in i:
    csvsonly.append(i)

#check the results
print(csvsonly)

anscombe.json
README.md
mnist_test.csv
mnist_train_small.csv
california_housing_train.csv
california_housing_test.csv
['mnist_test.csv', 'mnist_train_small.csv', 'california_housing_train.csv', 'california_housing_test.csv']

## Looping through matching files to create a combined dataframe

And you can use the same approach to identify files matching a particular criteria and then import them all into a combined dataframe. Below, for example, we've written some code which identifies data files on housing, and then imports that data from all matching files into a dataframe.

In [ ]:
#store a list of files
filelist = os.listdir()
#create an empty list for housing CSV files
housingcsvs = []

#loop through the list of files
for i in filelist:
  #check if the filename contains 'housing'
  if 'housing' in i:
    #add it to the housing list if it does
    housingcsvs.append(i)

housingcsvs

['california_housing_test.csv', 'california_housing_train.csv']

In [ ]:
#create a df to hold them both
allhousingdf = pd.DataFrame()

#loop through the CSVs
for i in housingcsvs:
  print(i)
  #read them into a temporary dataframe
  housingdf = pd.read_csv(i)
  #append that dataframe to the previously empty dataframe
  allhousingdf = allhousingdf.append(housingdf)

allhousingdf

california_housing_test.csv
california_housing_train.csv

       longitude  latitude  ...  median_income  median_house_value
0        -122.05     37.37  ...         6.6085            344700.0
1        -118.30     34.26  ...         3.5990            176500.0
2        -117.81     33.78  ...         5.7934            270500.0
3        -118.36     33.82  ...         6.1359            330000.0
4        -119.67     36.33  ...         2.9375             81700.0
...          ...       ...  ...            ...                 ...
16995    -124.26     40.58  ...         2.3571            111400.0
16996    -124.27     40.69  ...         2.5179             79000.0
16997    -124.30     41.84  ...         3.0313            103600.0
16998    -124.30     41.80  ...         1.9797             85800.0
16999    -124.35     40.54  ...         3.0147             94600.0

[20000 rows x 9 columns]